@model BloodBank_PBD.Models.Test

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<h2>add or update a test</h2>

@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "user-div",
    InsertionMode = InsertionMode.Replace
}))
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-5 d-flex justify-content-center mt-4">
                @Html.LabelFor(m => m.DonorFullName)
            </div>
            <div class="col-md-5 mt-4">
                @Html.DropDownListFor(m => m.DonorFullName, @ViewBag.FullNameList as SelectList, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-5 d-flex justify-content-center">
                @Html.LabelFor(m => m.Weight)
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Weight, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(m => m.Weight, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-5 d-flex justify-content-center">
                @Html.LabelFor(m => m.Height)
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Height, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(m => m.Height, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-5 d-flex justify-content-center">
                @Html.LabelFor(m => m.BP)
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.BP, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BP, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-5 d-flex justify-content-center">
                @Html.LabelFor(m => m.Progress)
            </div>
            <div class="col-md-5">
                @Html.DropDownListFor(m => m.Progress, ViewBag.Progress as SelectList, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-5 d-flex justify-content-center">
                @Html.LabelFor(m => m.Date)
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Date, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(m => m.Date, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-2">
            <input type="submit" value="Add" class="btn btn-danger btn-block" />
        </div>
    </div>
}
