@model IEnumerable<BloodBank_PBD.Models.Test>

<h2>donor tests</h2>

<div class="btn btn-danger mt-4 mb-4">
    @Ajax.ActionLink("Add or Update a Test", "CreateTest", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "user-div" })
</div>
<div class="mt-2 mb-2">
    @Html.Label("Search By: ")
    @Html.TextBox("search-lastname", null, new { @class = "search-txt mr-5", placeholder = "Last Name" })
    @Html.Label("Search By: ")
    @Html.TextBox("search-testid", null, new { @class = "search-txt", placeholder = "Test ID" })
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonorFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
        </tr>
    </thead>
    <tbody id="user-table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonorFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Progress)
                </td>
            </tr>
        }
    </tbody>
</table>