@model IEnumerable<BloodBank_PBD.Models.Test>

@{
    Layout = null;
}

<h2>my test results</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonorFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonorFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Progress)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>@ViewBag.TestResult</p>