@model BloodBank_PBD.ViewModel.MessageViewModel.Message

@{
    ViewBag.Title = "Contact";
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container-fluid">
    <div>
        <img src="~/images/contact.jpg" alt="about_us.jpg" class="banner" />
    </div>
    <div class="card-group contact-card-left">
        <div class="card border-0">
            <div class="card-body">
                @using (Html.BeginForm("AddContactMessage", "Home"))
                {
                    <div class="form-group">
                        <span class="contact-message">Message Us</span>
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Message1, 4, 50, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Message1, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control message-text", placeholder = "Name" })
                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control message-text", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control message-text", placeholder = "Phone" })
                    </div>
                    <div class="login-btn d-flex justify-content-end">
                        <input type="submit" value="Submit" />
                    </div>
                }
            </div>
        </div>
        <div class="card border-0">
            <div class="card-body contact-card-right">
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <p class="contact-info-title">address</p>
                            <p>500 Terry Francois St.<br>San Francisco, CA 94158</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p class="contact-info-title">phone</p>
                            <p>123-456-7890</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p class="contact-info-title">email</p>
                            <p>info@mysite.com</p>
                        </div>
                    </div>
                </div>
                <div class="card-deck mt-5">
                    <div class="card text-center contact-media-card">
                        <div class="card-img"><i class="fab fa-facebook-f"></i></div>
                        <div class="card-text">Facebook</div>
                    </div>
                    <div class="card text-center contact-media-card">
                        <div class="card-img"><i class="fab fa-twitter"></i></div>
                        <div class="card-text">Twitter</div>
                    </div>
                    <div class="card text-center contact-media-card">
                        <div class="card-img"><i class="fab fa-instagram"></i></div>
                        <div class="card-text">Instagram</div>
                    </div>
                    <div class="card text-center contact-media-card">
                        <div class="card-img"><i class="fab fa-youtube"></i></div>
                        <div class="card-text">YouTube</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>