@model BloodBank_PBD.Models.Message

@{
    ViewBag.Title = "Contact";
    ViewBag.ActionName = "Contact";
    ViewBag.ControllerName = "Home";
}

@section Scripts {
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container-fluid" id="contact-container">
    <div>
        <img src="~/images/contact.jpg" alt="about_us.jpg" class="banner" />
    </div>
    <div class="banner-text">
        <div class="banner-separator"></div>contact last <span class="banner-half-message">hope</span>
    </div>
    <div class="card-group contact-card-left">
        <div class="card border-0">
            <div class="card-body">
                @using (Ajax.BeginForm("AddContactMessage", new AjaxOptions { UpdateTargetId = "contact-container" }))
                {
                    <div class="form-group">
                        <span class="contact-message">Message Us</span>
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Message1, 4, 50, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Message1, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control message-text", placeholder = "Name" })
                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control message-text", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control message-text", placeholder = "Phone" })
                    </div>
                    <div class="login-btn d-flex justify-content-end">
                        <input type="submit" value="Submit" />
                    </div>
                }
                <div class="text-success d-flex justify-content-center mt-3">@ViewBag.StatusMessage</div>
            </div>
        </div>
        <div class="card border-0">
            <div class="card-body contact-card-right">
                <div class="card-group">
                    <div class="card border-0">
                        <div class="card-body">
                            <p class="contact-info-title">address</p>
                            <p>500 Terry Francois St.<br>Auckland, New Zealand 0571</p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <p class="contact-info-title">phone</p>
                            <p>123-456-7890</p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <p class="contact-info-title">email</p>
                            <p>info@lasthope.co.nz</p>
                        </div>
                    </div>
                </div>
                <div class="card-deck mt-5">
                    <div class="card text-center contact-media-card">
                        <div class="card-img"><i class="fab fa-facebook-f"></i></div>
                        <div class="card-text">Facebook</div>
                    </div>
                    <div class="card text-center contact-media-card">
                        <div class="card-img"><i class="fab fa-twitter"></i></div>
                        <div class="card-text">Twitter</div>
                    </div>
                    <div class="card text-center contact-media-card">
                        <div class="card-img"><i class="fab fa-instagram"></i></div>
                        <div class="card-text">Instagram</div>
                    </div>
                    <div class="card text-center contact-media-card">
                        <div class="card-img"><i class="fab fa-youtube"></i></div>
                        <div class="card-text">YouTube</div>
                    </div>
                </div>
                <div class="fb-like d-flex justify-content-center mt-5" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button" data-action="like" data-size="large" data-share="true"></div>
            </div>
        </div>
    </div>
</div>