@model BloodBank_PBD.ViewModel.UserLoginModel

@{
    ViewBag.Title = "Login";
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container-fluid d-flex justify-content-center pt-5">
    <div class="card login-card">
        <div class="card-title text-center">
            <span class="login-title">log in</span>
            <div class="new-user">
                New to this site?
                @Html.ActionLink("sign up", "SignUp", "Home", null, new { @class = "signup-link" })
            </div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control user-txt", required = "" })
                    @Html.LabelFor(m => m.UserName, new { @class = "user-label" })
                </div>
                <div class="user-error">
                    @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
                    <span class="text-danger">@ViewBag.UserError</span>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control user-txt", type = "password", required = "" })
                    @Html.LabelFor(m => m.Password, new { @class = "user-label" })
                </div>
                <div class="password-error">
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                    <span class="text-danger">@ViewBag.PasswordError</span>
                </div>
                <div class="login-btn"><input type="submit" value="log in"></div>
            }
        </div>
    </div>
</div>