@model BloodBank_PBD.ViewModel.UserLoginModel

@{
    ViewBag.Title = "Login";
}

<div class="container login-content">
    <div class="row justify-content-end"><a href="@Url.Action("Index", "Home")"><img src="~/images/exit_icon.png" alt="exit_icon" /></a></div>
    <div class="row justify-content-center login-user">log in</div>
    <div class="row justify-content-center new-user">new to this site?@Html.ActionLink("sign up", "SignUp", "Home")</div>
    @using (Html.BeginForm())
    {
        <div class="row justify-content-center user-input">
            @Html.TextBoxFor(m => m.UserName, new { id = "user", maxlength = "20", required = "" })
            @Html.LabelFor(m => m.UserName)
        </div>
        <div class="row justify-content-center input-line"><span id="user-line"></span></div>
        if (ViewBag.UserError != null)
        {
            <div class="user-login-error">@ViewBag.UserError</div>
        }

        <div class="row justify-content-center user-input">
            @Html.PasswordFor(m => m.Password, new { id = "password", maxlength = "20", required = "" })
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="row justify-content-center input-line"><span id="password-line"></span></div>
        if (ViewBag.PasswordError != null)
        {
            <div class="pass-login-error">@ViewBag.PasswordError</div>
        }
        <div class="row justify-content-center"><a href="#" class="forgot-pass">Forgot password?</a></div>
        <div class="row justify-content-center login-btn"><input type="submit" value="log in"></div>
    }
</div>