<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blood Bank Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <div class="row upper-header">
            <div class="col-md-5">
                <a href="@Url.Action("Index", "Home")"><img src="~/images/logo.png" alt="logo_icon" class="logo-img" /></a>
                <a href="@Url.Action("Index", "Home")"><span class="logo-title">last hope</span></a>
            </div>
            <div class="col-md-7">
                <div class="row justify-content-end">
                    <div class="col-md-3 login align-self-center">
                        @if (Session["Username"] != null)
                        {
                            <a href="#" class="logged-user" id="logged-user">@Session["Username"]<img src="~/images/arrow_down_icon.png" /></a>
                            <ul class="user-menu" id="user-menu">
                                <li>@Html.ActionLink("my account", "UpdateUserInfo", "User", new { username = Session["Username"] }, null)</li>
                                <li><span class="user-menu-line"></span></li>
                                <li>@Html.ActionLink("logout", "Logout")</li>
                            </ul>
                        }
                        else
                        {
                            @Html.ActionLink("log in", "Login", "Home")
                        }
                    </div>
                    <div class="col-md-3 donate-now align-self-center">@Html.ActionLink("donate now", "SignUp", "Home")</div>
                    <div class="col-md-3 menu-overflow align-self-center"><a href="@Url.Action("Menu", "Home")">menu<img src="/images/menu-overflow.png" alt="menu_icon" /></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
</body>
</html>
