<!DOCTYPE html>
<html lang="en-nz">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Phillip Brind Despi">
    <meta name="description" content="Blood Bank Management System">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blood Bank Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/x-icon" href="~/images/logo.png" />
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top">
        <!-- Brand/logo -->
        <a href="@Url.Action("Index","Home")">
            <img src="~/images/logo.png" alt="logo" class="logo-image">
            <span class="logo-title">last hope</span>
        </a>

        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>

        <!-- Navbar links -->
        <ul class="navbar-nav">
            <li class="nav-login dropdown">
                @if (@Session["Username"] == null)
                {
                    @Html.ActionLink("Log In", "Login", "Home")
                }
                else
                {
                    <!-- Dropdown items -->
                    <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        @Session["Username"]
                    </a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("my account", "UpdateUserInfo", "User", new { username = Session["Username"] }, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("logout", "Logout", "Home", null, new { @class = "dropdown-item" })
                    </div>
                }
            </li>
            <li class="nav-home">
                @Html.ActionLink("home", "Index", "Home", null, new { @class = "nav-link" })
            </li>
            <li class="nav-about">
                @Html.ActionLink("about", "About", "Home", null, new { @class = "nav-link" })
            </li>
            <li class="nav-services">
                @Html.ActionLink("services", "Services", "Home", null, new { @class = "nav-link" })
            </li>
            <li class="nav-contact">
                @Html.ActionLink("contact", "Contact", "Home", null, new { @class = "contact-link" })
            </li>
        </ul>
    </nav>
    @RenderBody()
    <div class="container-fluid">
        <div class="card">
            <div class="card-body footer-card-content">
                <p class="footer-title">join the movement!</p>
                <p class="footer-text">Be a Blood Donor now</p>
            </div>
            <div class="card-footer">&copy; 2020 by Last Hope</div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
    @Scripts.Render("~/bundles/custom")
</body>
</html>
