@model IEnumerable<BloodBank_PBD.Models.User>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

<h2>list of donors</h2>

@using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline" }))
{
    @Html.Label("search-label", "Search by:", new { @class = "mt-3 mb-2 mr-md-2" })
    @Html.TextBox("search-lastname", null, new { @class = "form-control mt-3 mb-2 mr-md-2", placeholder = "Last Name" })
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="user-table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Ajax.ActionLink("Edit", "UpdateUser", new { id = item.UserId }, new AjaxOptions
           {

               HttpMethod = "GET",
               UpdateTargetId = "user-div",
               InsertionMode = InsertionMode.Replace

           }) |
                    @Ajax.ActionLink("Delete", "DeleteUser", new { id = item.UserId }, new AjaxOptions
           {

               HttpMethod = "POST",
               UpdateTargetId = "user-div",
               InsertionMode = InsertionMode.Replace

           })
                </td>
            </tr>
        }
    </tbody>
</table>