@model IEnumerable<BloodBank_PBD.Models.User>

@{
    ViewBag.Title = "Donors";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center admin-menu">list of donors</div>

    <p>
        @Html.ActionLink("Create New", "SignUp", "Home")
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BloodType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BloodType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "UpdateUser", new { id = item.UserId }) |
                        @Html.ActionLink("Delete", "DeleteUser", new { id = item.UserId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>